/**
 *
 *
 *
 *
/***************************************************************************/
/****************************  $Media Queries  *****************************/
/*
 * The styles by default are for desktops devices with resolutions
 * than 1200px of width or more.
 */
/**
 *
 *
/*****************  $Medium devices (Desktops) <= 1199px  ******************/
@media screen and (max-width: 1199px) {
  .title-text .title{
    font-size: 28px;
    line-height: 50px;
  }
  .navbar-nav{padding-right: 0;}
  .home .top-bar i{
    width: 55px;
    height: 55px;
    line-height: 49px;
    top: 7px;
  }
  .home .top-bar [class^="col-"]{
    padding: 0 0 0 65px;
  }
  .navbar-nav>li>a {
    font-size: 13px;
    margin: 25px 5px;
  }
  .topics .topic-item{
    min-height: 210px;
  }
}
/**
 *
 *
/*****************  $Medium devices (Desktops) <= 1024px  ******************/
@media handheld, only screen and (max-width: 1024px) {
  h1 {
    font-size: 3.5em;
    line-height: 1;
  }
  .topics .topic-item h3 {
    font-size: 1em;
  }

}
/**
 *
 *
/*******************  $Small devices (Tablets) <= 992px  *******************/
@media handheld, only screen and (max-width: 991px) {
  .title-text .title{
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 30px
  }
  .title-text .btn {
    font-size: 13px;
    padding: 10px 10px 10px 40px;
  }
  .title-text .btn i{
    top: 1px;
  }
  #about {
    padding-top: 40px;
  }
  h2{
    font-size: 68px !important;
  }
  .topics h4 {
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 50px;
  }

  .home .top-bar [class^="col-"] {
    margin-bottom: 18px;
  }
  .navbar-nav>li>a {
    font-size: 10px;
    margin: 15px 5px;
  }
  .navbar .btn {
    font-size: 12px;
    padding: 10px 20px 10px 40px;
  }
  .navbar .btn i {
    left: 3px;
  }
  .program .btn {
    font-size: 12px;
    padding: 10px 20px 10px 50px;
  }
  .partner .partner-item {
    width: auto;
    margin: 0 2%;
  }
  .speakers, .partners{
    padding-top: 65px;
  }
  .program .nav-tabs li a {
    padding: 10px 20px;
  }
  .speakers-item .icons { 
    padding: 0 10%;
  }
  .speakers h2{
    margin-bottom: 30px;
  }
  .speakers-item h3 {
    font-size: 1.2em;
  }
  .speakers-item p {
    font-size: .9em;
    margin: 0 0 10px 0;
  }
}
/*
 *
 *
/****************  $Extra Small devices (Phones) <= 767px  *****************/
@media handheld, only screen and (max-width: 767px) {
  .row{
    margin: 0 !important;
  }
  .logo{
    display: block;
    width: 45%;
    margin: 0 auto;
  } 
  .logo:after{
    display: none;
  }
  .navbar-nav{
    display: block;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: inherit;
    background-color: #000;
  }
  .nav > li{
    text-align: right;
  }
  .topics .topic-item {
    min-height: auto;
  }
  .partners h2 {
    margin-bottom: 30px;
  }
  .partner h2{
    font-size: 50px !important;
  }

  h1 {
    font-size: 2.7em;
  }
  h2 {
    font-size: 5em;
    margin-top: 10px;
  }
  .navbar-nav {
    float: none;
  }
  .navbar-nav>li>a {
    font-size: 12px;
    margin: 10px;
  }
  .navbar-nav>li>a:before {
    content: '';
  }
  .features .features-item {
    width: 280px;
  }
  .features .features-item .desc {
    font-size: 1em;
  }
  .home {
    margin-bottom: 50px;
  }
  .gallery .gallery-item {
    width: 290px;
  }
  .pricing {
    padding-top: 50px;
  }
  .pricing .pricing-item {
    margin-bottom: 2em;
  }
  .program .program-accordion-item {
    margin: 0 0px 30px 0px;
    padding: 0;
  }
  .program .program-accordion-item figure {
    margin: 0 auto 20px auto;
    padding: 20px 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .program .nav-tabs li a {
    font-size: 12px;
    padding: 10px 10px;
  }
  .program .program-tab-item {
    padding: 0 0 40px 100px;  
  }
  .program .tab-pane {
    padding: 50px 10px;
  }
  .program .program-tab-item figure {
    width: 80px;
  }
  .program .program-tab-item:before {
    display: none;
  }
  .testimonials p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    width: 100%;
    max-width: 500px;
  }
  
}
/*
 *
 *
/****************  $Extra Small devices (Phones) <= 600px  *****************/
@media handheld, only screen and (max-width: 610px) {
  footer .copy {
    float: none;
    margin:  0 auto;
  }
  footer .social {
    float: none;
    margin: 0 auto;
  }
  .btn.btn-home {
    margin-right: 5px;
    padding: 13px 20px 13px 40px;
  }
  .btn i {
    left: 0; 
  }
  .gallery .gallery-item {
    width: 260px;
  }
  .parallax {
    background-attachment: scroll;
    background-position: 0 0;
    background-size: cover;
  }
  .program .btn {
    padding: 10px 20px 10px 30px;
    width: 100%;
  }
  .program .btn i {
    display: none;
  }
  .testimonials .owl-theme .owl-controls .owl-buttons div {
    font-size: 1em;
    margin: 50px 0;
  }
  .speakers-item {
    width: 100%;
  }
  .speakers-item h3 {
    font-size: 1.3em;
  }
  .speakers-item h5 {
    font-size: 1em;
    margin: 1em 0 0.5em 0
  }
  .speakers-item .icons { 
    padding: 0 6%;
  }
  .speakers-item .icons h5 {
    font-size: .7em;
    margin: 10px 0 30px 0;
  }
  .speakers-item p {
    font-size: .9em;
    margin: 0 0 20px 0;
  }
  
  
}

/*
 *
 *
/****************  $Extra Small devices (Phones) <= 480px  *****************/
@media handheld, screen and (max-width: 480px) {
  .logo{
    width: 65%;
  }
  .home .top-header {
    padding: 20px 0;
  }
  .title-text{
    padding: 20px 30px 0;
  }
  .title-text .title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .title-text .btn{
    font-size: 12px;
    padding: 0;
    width: 78%;
  }
  .title-text .btn i {
    top: 0;
    position: inherit;
    margin-right: 10px;
  }
  .home .top-bar [class^="col-"]{
    width: 100%;
    min-height: 55px;
    float: none;
    margin-bottom: 20px;
    padding: 0 0 0 72px;
  }
  .home .top-bar [class^="col-"]:last-child{
    margin-bottom: 9px;
  }
  .home .top-bar i{
    top: -2px;
  }
  #about {
    padding-top: 0;
  }
  h2 {
    font-size: 44px !important;
  }
  .partner h2 {
    font-size: 33px !important;
  }
  .topics h4 {
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 0;
    letter-spacing: 0;
  }
  .topics .info-text{
    font-size: 18px;
    margin-bottom: 35px;
  }
  .topic-item .img-holder{
    min-height: auto;
  }
}

/*
 *
 *
/****************  $Extra Small devices (Phones) <= 400px  *****************/
@media handheld, only screen and (max-width: 400px) {
  h2 {
    font-size: 3em;
  }
  .navbar-nav li a {
    padding: 0px;
  }
  .speakers-item .icons a { 
    display: none;
  }

}